.vue-file-agent .file-preview-wrapper:before {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#profile-pic-demo .drop-help-text {
    display: none;
}
#profile-pic-demo .is-drag-over .drop-help-text {
    display: block;
}
#profile-pic-demo .profile-pic-upload-block {
    border: 2px dashed transparent;
    padding: 20px;
    padding-top: 0;
}

#profile-pic-demo .is-drag-over.profile-pic-upload-block {
    border-color: #aaa;
}
#profile-pic-demo .vue-file-agent {
    width: 180px;
    float: left;
    margin: 0 15px 5px 0;
    border: 0;
    box-shadow: none;
}
